Eva Bacas, <ENB30@pitt.edu>, January 13, 2019

+ Data set: The Blog Authorship Corpus
+ Authors/citation: J. Schler, M. Koppel, S. Argamon and J. Pennebaker (2006). Effects of Age and Gender on Blogging in Proceedings of 2006 AAAI Spring Symposium on Computational Approaches for Analyzing Weblogs.
+ URL: <http://u.cs.biu.ac.il/~koppel/BlogCorpus.htm>
+ Makeup:
    + Collected posts of 19,320 bloggers gathered from blogger.com in August of 2004. 
    + Size: 681,288 posts, or 140 million+ words - which is ~35 posts/7250 words per blogger
    + Blogger info: ID#, self-provided gender, industry, and astrological sign
    + Categories: all blogs fall into three age groups, with an equal number of male and female bloggers in each category
        + "10s": 13-17, numbering 8240 bloggers
        + "20s": 23-27, numbering 8086 bloggers
        + "30s": 33-47, numbering 2994 bloggers
+ Language: English
+ Format: .xml
    + Each file is titled like this: IDnumber.gender.age.industry.astrological sign.xml, and contains all blog posts by that specific author.

Self-assessment:

I created lists containing the file names, the blog texts, the bloggers' genders, the bloggers' ages, the bloggers' occupations, and the blogger's astological signs. First I iterated through the blogs folder to grab all the file names, and then iterated through the file names to create the other five lists. I calculated the median and mean age of the bloggers (~23), and confirmed the total number of blog files (19,320). I found the average word count of each blog file: ~41729. This is very different from the average number of words listed by the authors of the corpus - 7250, which I believe is because of my inability to remove the XML formatting (more on that below).

I then created a Numpy structured array for the demographic data. After figuring out I couldn't really do much with the structured array, I used it to create a DataFrame using Pandas. I poked around in the DataFrame to investigate the relationship between age and occupation. The most common listed occupation (~5000 bloggers), "student", was also the youngest, with an average age of ~17. The occupations with the oldest mean age are "construction" and "consulting", both ~30. This discovery wasn't super surprising to me, since I expected the majority of the teen users would be students.

I wish I had been able to do more with actual blog text. I tried removing the XML formatting using beautiful soup, but it didn't work so well, since XML is not HTML. Also, when I tried to run it on all the files, it crashed the kernel every time. I also tried to use the nltk ElementTree module, but I couldn't get it to work on these files. In the future, I would like to look at how the frequency of certain words varies across age and gender: it could be an interesting insight into slang/new words at the time. If there was a way to go through and tag blogs for topic, it could also be interesting to see how the themes of a person's blogs vary with age and gender.

In [1]:
import os
import numpy as np
import pandas as pd

1. I created six empty lists: one for the file names, one for the actual text contained in the files, and four for the demographics of the bloggers.

In [2]:
blog_names=[]
blog_txt=[]
blogger_gender=[]
blogger_age=[]
blogger_occupation=[]
blogger_sign=[]

2. I iterated through all the files in the folder 'blogs' and added the names to blog_names.

In [3]:
for filename in os.listdir('blogs'):
    blog_names.append(filename)

3. I iterated through the filenames, read the files into blog_txt, and added the demographics into their respective lists. Since the demographic data for the bloggers was only contained in the filename, I split the filename on the dots to access the four demographic categories.

In [4]:
for filename in blog_names:
    f = open('blogs/'+filename,'rb')
    txt = f.read()
    f.close()
    blog_txt.append(txt)
    blogger_gender.append(filename.split('.')[1])
    blogger_age.append(int(filename.split('.')[2]))
    blogger_occupation.append(filename.split('.')[3])
    blogger_sign.append(filename.split('.')[4])

Here's some short samples of the texts:

In [5]:
blog_txt[0][100:300]

b'thing     but i can hear     you have chosen me, your life partner     so have i dear,     so have i dear....      my first dream, my first extreme,     my first love, i was waiting for my DESTINY.   '

In [6]:
blog_txt[40][400:600]

b'have those), I like my body.  I have a little belly pudge, but I think just about the right amount.  If I wanted the perfect body, I would reduce the pudge by a little bit, but overall, I look good.  '

In [7]:
blog_txt[90][600:800]

b'mendous, constantly shifting earth.  sounds biblically hazardous. minnesota is from a dakota indian word meaning  sky-tinted water.  license plates there read "land of 10,000 lakes." there are actuall'

In [8]:
blog_txt[10000][900:1100]

b"love the rain (and I'm not ready for the blistering days of summer, thankyouverymuch), so I don't want it to go, but I also don't want it to come around so much.  On a whim, I tuned into an internet r"

4. I calculated the mean and median blogger age using Numpy: both around 23.

In [9]:
np.mean(blogger_age)

22.83379917184265

In [10]:
np.median(blogger_age)

23.0

5. Though I already know how many bloggers are included in this corpus, I checked by looking at the length of the blog_names list:

In [11]:
len(blog_names)

19320

6. Just to see how long an average blogger's blogs might be, I checked the length of the first blog in blog_txt. Then I used a for loop to figure out the average word count for all the blog files: about 42,000 words. This is pretty different from the average word count listed by the authors, which is likely because I did not remove the XML formatting.

In [12]:
len(blog_txt[0])

7080

In [13]:
wordcount=0
for blogger in blog_txt:
    wordcount+=len(blogger)
print(wordcount/len(blog_txt))

41728.7147515528

7. After reading  over the Numpy chapter of [The Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/), I really wanted to encorporate the Numpy structured array. So I made one, after struggling a lot, and then figured out I couldn't really do what I was hoping to do with it. I kept reading and learned about Pandas DataFrames, which sounded more useful and interesting. We also just did DataFrames with R in Ling Stats, and they were fun. So I gave that a go.

In [ ]:
blogdata = np.zeros(len(blog_names), dtype={'names':('gender', 'age', 'occupation','sign'),
                              'formats':('U10', 'i4', 'U25','U25')})
blogdata['gender'] = blogger_gender
blogdata['age'] = blogger_age
blogdata['occupation'] = blogger_occupation
blogdata['sign'] = blogger_sign

In [16]:
blogstats = pd.DataFrame(blogdata)

8. I decided the discovery I wanted to make was the relationship between blogger age and occupation. I figured, since a lot of the users were teens, their occupations were probably 'student'. First I used .loc to take a peek at the occupations of bloggers over 40:

In [19]:
blogstats.loc[blogstats.age > 40, ['age', 'occupation']]

       age            occupation
9       45            Technology
100     45                indUnk
117     41                indUnk
120     47                indUnk
121     45                indUnk
137     44                  Arts
158     47                indUnk
163     43             Chemicals
165     41            Technology
183     45                indUnk
227     47           Agriculture
229     43                indUnk
253     42             Education
314     44                indUnk
360     45                indUnk
388     41            Consulting
432     45            Non-Profit
450     48            Consulting
455     48                indUnk
456     48  Communications-Media
501     43          Construction
506     42                indUnk
507     42            Government
518     43            Publishing
521     45                  Arts
526     46  Communications-Media
533     43            Consulting
571     45           Advertising
603     47                  Arts
656     42             Education
...    ...                   ...
18747   48                indUnk
18765   46                indUnk
18773   45                indUnk
18776   43             Education
18793   42              Internet
18807   44                indUnk
18841   45                indUnk
18857   45             Education
18877   45            Technology
18878   41                indUnk
18890   41               Student
18963   45  Communications-Media
18981   41            Government
18999   48               Student
19048   42            Consulting
19058   44            Technology
19061   43                indUnk
19075   44    Telecommunications
19079   44                indUnk
19087   43             Education
19103   46                indUnk
19140   46                indUnk
19174   48                indUnk
19194   41             Education
19203   47            Consulting
19236   41                indUnk
19246   44  Communications-Media
19268   41            Technology
19292   41               Tourism
19305   43             Education

[799 rows x 2 columns]

9. And then I looked at bloggers under 15 - mostly students, as I suspected. I wonder if "non-profit" is a joke about school being "working for free".

In [20]:
blogstats.loc[blogstats.age < 15, ['age', 'occupation']]

       age  occupation
12      14  Non-Profit
18      14        Arts
23      14     Student
37      14     Student
43      14     Student
52      13      indUnk
73      14     Student
84      14     Student
86      13     Biotech
93      14     Student
96      14     Student
99      14    Internet
101     14      indUnk
102     14     Student
116     13     Student
136     14  Non-Profit
148     14        Arts
154     14      indUnk
157     13      indUnk
169     14      indUnk
173     14     Student
184     14      indUnk
191     13     Student
205     13   Education
207     14     Student
211     14     Student
213     14        Arts
223     14     Student
238     14     Student
240     14     Science
...    ...         ...
19083   14      indUnk
19088   13     Student
19096   14     Student
19098   14     Student
19100   14      indUnk
19125   13     Student
19132   14     Student
19138   14   Education
19147   14     Student
19149   14      indUnk
19154   14     Student
19157   14     Student
19169   14     Student
19191   14      indUnk
19196   13      indUnk
19200   14     Student
19212   13      indUnk
19214   14      indUnk
19221   14     Student
19225   13      indUnk
19241   14     Student
19242   13     Student
19258   14      indUnk
19267   14     Student
19271   13     Student
19280   14     Student
19296   14        Arts
19298   14     Student
19301   14      indUnk
19317   13      indUnk

[1936 rows x 2 columns]

10. I tried out .groupby, and found the mean age for each astrological sign. All fairly close to the overall mean, which makes sense since astrological sign and age are unrelated.

In [23]:
blogstats.groupby('sign')['age'].mean()

sign
Aquarius       23.098372
Aries          22.994364
Cancer         23.648084
Capricorn      22.666667
Gemini         22.915361
Leo            23.293391
Libra          22.046471
Pisces         23.080380
Sagittarius    22.587476
Scorpio        22.301042
Taurus         22.903951
Virgo          22.496915
Name: age, dtype: float64

11. Then I tried making a pivot table, looking at age as a factor of occupation and gender. Youngest overall occupation for both genders: student, at ~17. Looks like the oldest careers are construction, consulting, maritime (but just for women), and museums/libraries, all ~30. There are huge gender gaps for agriculture, biotech, and maritime, and women are always the older group.

In [30]:
blogstats.pivot_table('age', index='occupation', columns='gender')

gender                      female       male
occupation
Accounting               27.283784  24.645161
Advertising              27.200000  27.528571
Agriculture              25.850000  19.500000
Architecture             25.571429  26.676471
Arts                     25.076372  25.480132
Automotive               25.705882  25.675676
Banking                  27.297872  26.338462
Biotech                  28.550000  21.405405
BusinessServices         26.382716  26.414634
Chemicals                20.565217  22.256410
Communications-Media     26.349282  27.666667
Construction             30.636364  29.939394
Consulting               31.178082  29.805085
Education                25.284211  24.539024
Engineering              25.842857  25.818182
Environment              25.500000  27.714286
Fashion                  23.273973  22.320000
Government               28.063158  27.290780
HumanResources           27.396226  26.731707
Internet                 28.356436  27.570946
InvestmentBanking        25.700000  28.260870
Law                      27.587156  27.386364
LawEnforcement-Security  24.769231  22.935484
Manufacturing            30.625000  29.142857
Maritime                 34.750000  21.769231
Marketing                27.018692  28.616438
Military                 22.718750  24.416667
Museums-Libraries        28.666667  30.136364
Non-Profit               25.649485  24.488764
Publishing               28.873418  29.309859
RealEstate               26.589744  25.812500
Religion                 27.046512  27.718750
Science                  26.154762  24.750000
Sports-Recreation        21.333333  22.759259
Student                  17.128681  17.321090
Technology               28.938889  27.663172
Telecommunications       27.250000  29.430380
Tourism                  26.314815  26.700000
Transportation           28.800000  29.392857
indUnk                   23.260288  22.760642

12. Lastly I tried .describe() to summarize the distribution of ages for each occupation. Not feeling so great about how the minimum age for every occupation is 13-16, but hopefully it's just kids saying what they want to do, and not actual 13 year olds working in the chemicals industry. This confirms that the oldest categories are construction and consulting. Here you can see the overall count for each occupation as well, with student being the largest group (~5000) aside from "unknown" (~6000). There's only 17 people working in maritime careers, the smallest category which probably contributes to the huge gender gap in average age. Environment, investment banking (why differentiate this from banking?), and agriculture are also pretty small.

In [29]:
blogstats.groupby('occupation')['age'].describe()

,count,mean,std,min,25%,50%,75%,max
occupation,,,,,,,,
Accounting,105.0,26.504762,6.922822,15.0,23.00,25.0,27.0,47.0
Advertising,145.0,27.358621,6.443856,13.0,24.00,25.0,27.0,47.0
Agriculture,36.0,23.027778,8.689850,14.0,16.00,23.0,26.0,47.0
Architecture,69.0,26.115942,6.846073,14.0,23.00,25.0,27.0,48.0
Arts,721.0,25.245492,8.247015,13.0,17.00,25.0,27.0,48.0
Automotive,54.0,25.685185,8.072371,14.0,23.00,25.0,26.0,46.0
Banking,112.0,26.741071,5.232858,13.0,24.00,25.0,27.0,48.0
Biotech,57.0,23.912281,7.973798,13.0,17.00,24.0,26.0,44.0
BusinessServices,163.0,26.398773,7.272933,14.0,23.00,25.0,27.0,47.0
Chemicals,62.0,21.629032,6.574251,13.0,16.00,23.0,25.0,43.0
Communications-Media,479.0,27.091858,6.939059,13.0,24.00,25.0,27.0,48.0
Construction,55.0,30.218182,9.058842,15.0,24.00,26.0,36.5,48.0
Consulting,191.0,30.329843,8.187352,13.0,24.00,26.0,36.0,48.0
Education,980.0,24.972449,8.179439,13.0,17.00,24.0,27.0,48.0
Engineering,312.0,25.823718,5.864851,15.0,23.00,25.0,26.0,47.0
Environment,28.0,26.607143,7.549046,14.0,23.00,25.5,28.5,45.0
Fashion,98.0,23.030612,7.794333,13.0,16.00,24.0,26.0,48.0
Government,236.0,27.601695,7.541251,13.0,24.00,25.0,33.0,48.0
HumanResources,94.0,27.106383,8.079535,14.0,23.25,25.0,33.0,48.0
Internet,397.0,27.770781,7.161228,13.0,24.00,26.0,33.0,48.0
InvestmentBanking,33.0,27.484848,6.534147,15.0,24.00,25.0,33.0,42.0
Law,197.0,27.497462,7.034626,13.0,24.00,26.0,27.0,48.0
LawEnforcement-Security,57.0,23.771930,7.324171,14.0,16.00,24.0,27.0,37.0
Manufacturing,87.0,29.551724,7.175149,13.0,24.00,27.0,34.5,47.0
Maritime,17.0,24.823529,11.063653,14.0,17.00,23.0,25.0,48.0
Marketing,180.0,27.666667,6.606244,16.0,24.00,25.0,33.0,48.0
Military,116.0,23.948276,7.670208,13.0,17.00,23.0,26.0,48.0
Museums-Libraries,55.0,29.254545,9.580494,13.0,24.00,26.0,35.0,48.0
Non-Profit,372.0,25.094086,7.961448,13.0,23.00,24.0,27.0,48.0
Publishing,150.0,29.080000,7.324245,15.0,24.00,26.0,34.0,48.0
RealEstate,55.0,26.363636,7.011535,13.0,23.00,24.0,30.0,47.0
Religion,139.0,27.510791,8.748803,13.0,23.00,26.0,34.0,48.0
Science,184.0,25.391304,5.958796,13.0,23.00,25.0,26.0,46.0
Sports-Recreation,90.0,22.188889,7.099445,13.0,16.00,23.0,25.0,43.0
Student,5120.0,17.227930,4.081486,13.0,15.00,16.0,17.0,48.0
Technology,943.0,27.906681,7.014225,13.0,24.00,26.0,34.0,48.0
Telecommunications,119.0,28.697479,7.256271,13.0,24.00,26.0,35.0,48.0
Tourism,94.0,26.478723,7.554431,14.0,23.00,25.0,27.0,48.0
Transportation,91.0,29.164835,7.975328,14.0,24.00,27.0,35.0,47.0
indUnk,6827.0,23.050535,8.122177,13.0,16.00,23.0,26.0,48.0